@import 'scss-reset/reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$pageColor: #F9F9F9;
$purpleColor: #6C5FBC;

%for-flex {
  display: flex;
  align-items: center;
}

body {
  background-color: $pageColor;
}

.root, .App {
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.banner {
  @extend %for-flex;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 130px;
}

.banner__subtitle {
  font: {
    family: Poppins;
    weight: 600;
    size: 15px;
  }
  color: #201F1F33;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
  padding-left: 60px;
  margin-bottom: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    width: 54px;
    height: 2px;
    background-color: rgba(32, 31, 31, 0.2);
  }
}
.banner-info {
  flex: 0 0 44%;
}

.banner__title {
  font: {
    family: Poppins;
    weight: 600;
    size: 75px;
  }
  line-height: 90px;
  letter-spacing: -3px;
  color: #201F1F;
  margin-bottom: 16px;

  & span {
    color: #5C4EAE;
  }
}

.banner__text {
  font: {
    family: Inter;
    weight: 400;
    size: 18px;
  }
  color: #676767;
  margin-bottom: 53px;

  & span {
    font-weight: 500;
    color: #6155AE;
  }
}

.banner-buttons {
  font: {
    family: Poppins;
    weight: 500;
    size: 16.27px;
  }

  margin-bottom: 33px;

  .banner__button {
    letter-spacing: 1%;
    line-height: 24.41px;
    border-radius: 12.41px;
  }

  .start {
    width: 156px;
    height: 59px;
    background-color: $purpleColor;
    color: #FFFFFF;
    line-height: 24.41px;
    margin-right: 18px;
  }

  .pro {
    width: 110px;
    height: 59px;
    border: 1.5px solid $purpleColor;
    color: $purpleColor;
  }
}

.banner-rating {
  display: flex;
  align-items: center;
}

.rating__trustpilot {
  margin-right: 20px;
}

.rating__star {
  margin-right: 4px;
}

.rating__score {
  font: {
    family: Inter;
    weight: 500;
    size: 16px;
  }
  color: #334155;
  margin-left: 10px;
}

.statistics {
  width: 100%;
  height: 220.5px;
  background-color: $purpleColor;
  padding: 55px 0;
  position: relative;
  margin-bottom: 103px;

  &::before {
    content: " ";
    position: absolute;
    background: url(../img/decorStats.png), url(../img/decorStats.png) no-repeat;
    background-position: 0, -80px;
    background-size: cover;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
  }

  &::after {
    content: " ";
    position: absolute;
    background: url(../img/decorStats2.png), url(../img/decorStats2.png) no-repeat;
    background-position: 55px -6px, 0;
    background-size: cover;
    z-index: 2;
    top: 1%;
    right: 0%;
    width: 8%;
    height: 100%;
  }
}

.statistics-info {
  @extend %for-flex;
  width: 975px;
  margin: auto;

  & article {
    text-align: center;
    padding: 0 66px;

    &:nth-child(2) {
      border: {
         left: 1px solid #c5c5c582;
         right: 1px solid #c5c5c582;
      } 
    }
  }
}

.statistics__title {
  font: {
    weight: 700;
    family: Public Sans;
    size: 43.2px;
  }

  color: #FFFFFF;
  margin-bottom: 11px;
}

.statistics__text {
  font: {
    weight: 500;
    family: Inter;
    size: 14.4px;
  }
  color:#C5BFED;
}

.mobileVertion {
  @extend %for-flex;
  justify-content: space-between;
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;
  margin-bottom: 100px;
}

.mobileVertion-info {
  width: 560px;
}

.mobileVertion__title {
  font: {
    family: Poppins;
    weight: 700;
    size: 50.92px;
  }
  color: #18181B;
  margin-bottom: 63px;
  
  & span {
    color: $purpleColor;
  }
}

.mobileVertion__list {
  font: {
    family: Inter;
    weight: 400;
    size: 20.33px;
  }
  color: #676767;
  list-style-type: disc;
  margin-bottom: 61px;
  & li:first-child {
    margin-bottom: 28px;
  }

}

.mobileVertion__button {
  width: 186px;
  height: 63px;
  background-color: $purpleColor;
  color: #FFFFFF;
  position: relative;
  line-height: 22.58px;
  border-radius: 14.68px;
  font: {
    family: Poppins;
    weight: 500;
    size: 18.06px;
  }

  & p {
    position: relative;
    left: -22px;
  }

  & p::after {
    content: " ";
    background: url(../img/arrow-right.svg) no-repeat;
    position: absolute;
    width: 27.09px;
    height: 27.09px;
    right: 0;
    top: -3px;
  }

  &::after {
    content: " ";
    background: url(../img/doubleArrow.svg) no-repeat;
    position: absolute;
    width: 100%;
    height: 154.49px;
    right: -165px;
  }
  
}



